[Unit]
Description=Dante Embedded Platform
Documentation=
After=usb.service
PartOf=testarossa.target

[Service]
Type=exec
ExecStart=echo "starting dep.."
ExecStopPost=echo "stopped dep.."
#WorkingDirectory=/opt/dep/dante_package
PIDFile=/run/dante.pid
RemainAfterExit=yes

