[Unit]
Description=JACK Daemon
After=dep.service
PartOf=testarossa.target

[Service]
Type=exec
ExecStart=echo "starting jackd.."
#ExecStart=/usr/bin/jackd -d alsa -p 256
ExecStopPost=echo "stopped jackd.."
RemainAfterExit=yes

