[Unit]
Description=Testarossa Target
# target "Wants" services, which declare to be a "PartOf" this target
Wants=usb.service dep.service jackd.service awe.service
After=multi-user.target
AllowIsolate=yes

[Install]
WantedBy=multi-user.target

