[Unit]
Description=USB Audio Driver
PartOf=testarossa.target

[Service]
Type=exec
ExecStart=echo "starting usb.."
ExecStopPost=echo "stopped usb.."
RemainAfterExit=yes

